body {
  background-image: url("../wallpaper.png");
}
.login-agileits-top p {
  text-align: left;
}
.login-form {
  height: 300px;
  text-align: center;
  background-color: var(--w) !important;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

#inputUsername,
#inputPassword {
  border: 0.5px solid gray !important;
}

.login-form .login-agileits-top p {
  font-weight: 500 !important;
  font-size: 18px;
  color: black !important;
}

#submitButton {
  height: 50px;
  background-color: var(--dg);
  font-size: 18px;
  border-radius: 10px;
}

#submitButton:hover {
  background-color: var(--b);
  color: var(--w);
  transition: background-color 0.7s ease;
}
