body {
  background-image: url("../wallpaper.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.main {
  height: fit-content;
  width: 40%;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
#returnBtn {
  height: 50px;
  background-color: var(--dg);
  border-radius: 32px;
  font-size: 18px;
  color: white;
  margin: 40px;
  width: 25%;
  color: var(--g);
}

#returnBtn:hover {
  background-color: #a7291a;
  transition: background-color 0.7s ease;
  color: var(--w);
}

#comment {
  height: fit-content;
}
