<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2_QGV5YilMcrElZktnPEcdge_gXYHbKA&callback=initMap&libraries=&v=weekly&libraries=places"
      defer
    ></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/css/map.css" />
  </head>

  <body>
    <ul class="places">
      <li>
        <button id="returnBtn" class="w3-btn w3-round" type="submit">
          BACK
        </button>
      </li>
      <li>
        <a style="margin-left: 30px; color: var(--w)">SHOW ME: </a>
      </li>
      <div id="types">
        <li><a onclick="setMarkerType(this)">Cafe</a></li>
        <li><a onclick="setMarkerType(this)">Bar</a></li>
        <li><a onclick="setMarkerType(this)">Restaurant</a></li>
        <li><a onclick="setMarkerType(this)">Supermarket</a></li>
        <li><a onclick="setMarkerType(this)">Electronic Store</a></li>
        <li><a onclick="setMarkerType(this)">ATM</a></li>
      </div>
      <li>
        <input id="radius" class="radius" placeholder="Enter radius" />
      </li>
      <li>
        <button id="showMarkerBtn" class="w3-btn w3-round" type="submit">
          GO
        </button>
      </li>
    </ul>

    <div id="map"></div>
  </body>
  <script src="../map.js"></script>
</html>
