<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--CSS za task listu-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <!-- Custom Theme files -->
    <link href="/css/mytasks.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.css" rel="stylesheet" />

    <title>TeamTasks</title>
  </head>
  <body>
    <!-- navigation bar -->
    <%-include('partials/navbar');%>
    <!-- //navigation bar -->

    <!-- main -->
    <div class="main-agileits">
      <div class="subheader">
        <button
          onclick="makeNewTask()"
          id="leaderAddBtn"
          class="w3-btn w3-round"
        >
          Create New Task
        </button>
      </div>
      <div class="container">
        <!-- Lista za taskove-->
        <ul id="myTasksList"></ul>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
      <label"
        >Add task to calendar
      </label>
      <p>
        <input
        class="w3-input w3-border w3-white"
        id="date"
        type="date"
      />
        <input
        class="w3-input w3-border w3-white"
        id="timebegin"
        type="time"
      />
        <input
          class="w3-input w3-border w3-white"
          id="timeend"
          type="time"
        />
      </p> 
      <p style="text-align: center">
        <button
          class="w3-btn "
          id="submitBtn">
          Submit 
        </button>
        <butto
          class="w3-btn "
          id="returnBtn"
          type="submit">
          Return
        </button>
      </p>
    </div>
    <!-- modal -->
    <!-- //main -->
    <!-- js -->
    <script src="../addTeamTask.js"></script>
    <script src="../teamtasks.js"></script>
    <script src="../sendHttpRequest.js"></script>
  </body>
</html>
