<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="./css/navbar.css" rel="stylesheet" />
    <title>NavBar</title>
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
      <nav class="navbar navbar-inverse">
        <ul>
          <li>
            <a id="len1" class="hoverable" href="http://localhost:3000/home"
              >Home</a
            >
          </li>
          <li id="dropdown">
            <a id="len2" class="hoverable">Taskmaster</a>
            <div class="dropdown-content">
              <a href="http://localhost:3000/mytasks">My Tasks</a>
              <a href="http://localhost:3000/teamtasks">Team Tasks</a>
            </div>
          </li>
          <li>
            <a id="len3" class="hoverable" href="http://localhost:3000/calendar"
              >Calendar</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
